/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require jquery.ui.all
 *= require_self
 */

#body {
  margin: 70px 0;
  width: 100vw;
}

.tile {
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  color: white;

  h1 {
    color: white;
  }
  
  h1 a {
    color: white;
    
    &:hover {
      text-decoration: none;
    }
  }
}


.sort-placeholder {
  border: 1px dashed #111;
  border-radius: 10px;
}

.col-md-3.sort-placeholder {
  height: 15vw;
  min-height: 100px;
}

//boards

#board-title {
  color: #1995DC;
  
  h1 {
    color: #1995DC;
  }
}


.tile.board-tile {
  background-color: rgb(25, 149, 220);
  height: 15vw;
  min-height: 100px;

  #new-board {
    color: white;
  }
  
  p {
    color: #FDFDFD;
    font-size: 1.2em;
  }
}

#new-board-tile form input {
  color: #111;
}

button#create-board {
  margin-top: 10px;
}


//lists

.tile.list-tile {
  
  background-color: rgb(68, 186, 117);
  min-height: 15vw;
  
  #new-list {
    color: white;
  } 
}

.card-tile {
  width: 100%;
  padding: 5px;
  min-height: 20px;
  
  p {
    background-color: rgb(214, 240, 225);
    color: rgb(68, 186, 117);
//    margin: 10px;
    border-radius: 5px;
    padding: 5px;
  }
  
  textarea {
    padding: auto;
  }
}

#new-card-tile a {
  color: white;
}

button#create-card {
  margin-top: 5px;
}
