<div id="user_partial">
  <h3><%= link_to user.username, user_url(user) %></h3>
  <p><%= user.username %></p>
  <p>Account created at: <%= user.created_at %></p>
  <p>User is currently <strong><%= user.active? ? "active" : "deactivated" %></strong></p>
</div>

