

<div class="container" id="tile-container">

<div class="col-md-3" id="new-board-tile">
  <div class="board-tile">
    <h1 class="board-header"><a href="#" id="new-board"><span class="glyphicon glyphicon-plus"></span></a></h1>
    <p class="board-descrip"></p>
  </div>
</div>  
  
</div>
