<div class="container" id="board-title">
  <h1><%= board.escape('title') %></h1>
  <p class="lead"><%= board.escape('description') %></p>  
</div>

<div class="container" id="tile-container">
  
</div>
