<p>Posted by <%= link_to comment.user, user_url(comment.user) %> at <%= comment.created_at %></p>
<p><%= comment.body %></p>
<p><%= link_to "Comment on this Comment", new_link_comment_url(link, parent_comment_id: comment.id) %></p>