<div class="tile list-tile">
  <h1 class="list-header"><a href="#<%= list.url() %>"><%= list.escape('title') %></a></h1>
  <div class="card-container">
  </div>
  <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
</div>
