body {
  font-family: sans-serif;
  text-align: center;
}

.square {
  display: inline-block;
  float: left;
  outline: gray solid 1px;
  width: 100px;
  height: 100px;
  font-size: 5em;
}

#board {
  margin: 20px auto;
  width: 300px;
}

#board:after {
  content: "";
  clear: both;
  display: block;
}