<div id="user_menu">
  <% if logged_in? %>
    <span>You're logged in as <%= current_user.email %>.</span>
    <%= button_to "Sign Out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    |
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
</div>