<h2>Welcome, <%= @user.name.capitalize %>!</h2>
<p>I hope you like the site!</p>
<p>To log in, just follow this link: <a href="<%= @login_url %>">www.app-academy-music-app.com/session/new</a></p>
<p>Best,</p>
<p>--Maggie</p>
<p><a href="<%= @url %>">www.app-academy-music-app.com</a></p>